#image
{
    width: 60px;
    height: 60px;
}

#header
{
    background-color: aquamarine;
}

#qwerty
{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#head2
{
    background-color:greenyellow;
}

#siuu
{
    font-family:monospace;
}

#head3
{
    background-color:lawngreen;
}

#ching
{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#cheng
{
    font-family:monospace;
}

#hanji
{
    font-family:monospace;
}

#abc
{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#food
{
    font-family: monospace;
}
#head4
{
    background-color:lime;
}

#helikopter
{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#a
{
    font-family: monospace;
}

#b
{
    font-family: monospace;
}

#c
{
    font-family: monospace;
}

#d
{
    font-family: monospace;
}

#iframe
{
    width: 900px;
    height: 400px;
}

#bing
{
   background-color:rgb(46, 226, 46);
}

#chilling
{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#shimano
{
    width: 900px;
    height: 400px;
}

#head5
{
    background-color:rgb(112, 191, 194);
}

#super
{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#idol
{
    font-family: monospace;
}

#ishoumn
{
    font-family: monospace;
}

#head6
{
    background-color:rgb(130, 224, 224)
}

#wok
{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#rice
{
    font-family:monospace;
}

#mca
{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#head7
{
    background-color: rgb(179, 179, 249);
}

#h3
{
    font-family: monospace;
}

#p1
{
    font-family: monospace;
}

#p2
{
    font-family: monospace;
}

#head8
{
    background-color:rgb(195, 195, 234);
}

#au
{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#h3i
{
    font-family: monospace;
}

#imgsiu
{
    width: 100px;
    height: 100px;
}

#pi
{
    font-family: monospace
}

#sheeesh
{
    font-family: monospace;
}

#end
{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#final
{
    font-family: monospace;
}
